/* layout */


html, body, .capa
{
	height: 100%;
	overflow: auto;
}


body
{
	/*background: radial-gradient(#ff4169 75%, #ff4130);*/
	background: radial-gradient(lightblue 95%, #ffffff);
	background-attachment: fixed;
	font-family: 'Merriweather', serif;
	overflow-x: hidden;
}


/* Barra de navegação */

#barra-navegacao a:hover
{
	color: #04d3fb;
}
#barra-navegacao li
{
	text-align: center;
	font-weight: bolder;
}
#barra-navegacao li:hover
{
	border-radius: 10px 0 10px 0;	
	font-weight: bolder;
	background-color: pink;
	transition: background 1.5s;
}

.img-logo
{
	font-weight: bolder;
	font-size: 30px;
	height: 40px;
	width: 132px;
	padding: 10px 0 0 0;
	display: block;
	background-size: contain;
	color: pink;
}

nav.navbar-transparente
{
	padding: 1px 0;
	background: rgba(0, 0, 0, 0.6);
	border: none;
}

.navbar-brand
{
	padding: 5px 5px;
}

.divisor
{
	width: 1px;
	height: 16px;
	background: white;
	margin: 15px 10px;
}

.navbar-inverse .navbar-nav>li>a, footer .nav a
{
	color: pink;
}

.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover
{
	background: none;
	color: #9bf0e1;
}

/* Imagem de capa */
.capa
{
	display: table;
	width: 100%;
	height: 70%;
}

.capa-relatos
{
	padding-top: 80px;
	display: table;
	width: 100%;
	height: 30%;
}

.texto-capa
{
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

/* tipografia */
h1
{
	font-size: 100px;
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
}

h2
{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3
{
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

#rodape h4
{
	color: #919496;
	font-size: 12px;
	text-transform: uppercase;
}

/* Botões */
.btn-custom
{
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	text-transform: uppercase;
	transition: background 0.4s, color 0.04s;
}

.btn-rosa
{
	background: #ff4199;
}

.btn-rosa:hover
{
	background: #6207e3;
	color: white;
	text-shadow: black;
}

.btn-branco
{
	color: black;
	border: 2px solid white;
}

.btn-branco:hover
{
	background: white;
	color: black;
	border: 2px solid black;
}

/* Servicços */
#quem-somos
{
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

#area-principal
{
	padding-top: 20px;
	width: 90%;
	margin: 55px auto 10px auto;
	background-color: rgba(255,255,255,0.9);
	border-radius: 20px 0 20px 0;
}

.albuns
{
	padding: 10px 0px 10px 0px;
}

#quem-somos h2, #quem-somos h3
{
	color: lightblue;
}

/* Rodapé */
footer
{
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
}

@media screen and (max-width: 767px)
{
	h1
	{
		font-size: 50px;
	}

	.btn-custom
	{
		margin: 10px 15px;
	}
}

@media screen and (min-width: 768px)
{
	h1
	{
		font-size: 70px;
	}
}

@media screen and (min-width: 992px)
{
	h1
	{
		font-size: 80px;
	}
}

@media screen and (min-width: 1208px)
{
	h1
	{
		font-size: 100px;
	}
}

#header-jornal
{
	text-align: center;
}


#header-jornal h2
{
	border: 10px groove black;
	border-left: 1px;
	border-right: 1px;
	font-style: italic;
}




.h2
{
	font-size: 45px;
	font-weight: bolder;
}


.data-postagem
{
	font-size: 14px;
	border-bottom: 1px solid #f4f4f4;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
}


.img-postagem
{
	float: left;
	margin: 0 10px 5px 0;
}

.img-postagem img
{
	max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}



.postado
{
	border-left: 5px solid #d8d8d8;
	padding-left: 5px;
	display: block;
	margin-top: 10px;
}
#postagem
{
	background-color: rgba(255,255,255,0.9);
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 10px 0 10px 0;	
}


.tituloPrincipal
{
	text-align: left;
	margin-left: 50px;
	padding: 5px;
	color: #808080;
}


/*Botão dropdown*/

.dropdown-menu > li > a
{
	color: pink;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover
{
	border-radius: 10px 0 10px 0;	
	font-weight: bolder;
	background-color: pink;
	transition: background 1.5s;
}

/*Modal*/
.modal-title
{
	color: black;
	font-weight: bolder;
}

.input-label
{
	float: left;
	text-align: left;
	color: black;
}

textarea
{
	resize: none;
}